<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <nav class="navbar navbar-default navbarfixed-top">
  	<div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
		    <li><%= link_to 'Home',address_Home_path %></li>
			<li><%= link_to 'About us',address_About_path %></li>
			<li><%= link_to 'Contact us',address_Contact_path %></li>
			<li><%= link_to 'Activities', activities_path %></li>					
		    </ul>
	</div>
  </nav>
<body>
<h4>Connecting to the World's Athletes</h4>

<div class="row">
	<div class="col-md.-6">
		<p><strong>Move and Groove</strong> is fitness tracker site which connect the people to their favorites sport where our customers need to sign up and follow the sport they </p>
	</div>
</div>
<div class="row">
	<div class="col-md.-6">
		<p><strong>Move and Groove</strong> is fitness tracker site which connect the people to their favorites sport where our customers need to sign up and follow the sport they </p>
	</div>
</div>
<div class="row">
	<div class="col-md.-6">
		<p><strong>Move and Groove</strong> is fitness tracker site which connect the people to their favorites sport where our customers need to sign up and follow the sport they </p>
	</div>
</div>
<div class="row">
	<div class="col-md.-6">
		<p><strong>Move and Groove</strong> is fitness tracker site which connect the people to their favorites sport where our customers need to sign up and follow the sport they </p>
	</div>
</div>
<div class="row">
	<div class="col-md.-6">
		<p><strong>Move and Groove</strong> is fitness tracker site which connect the people to their favorites sport where our customers need to sign up and follow the sport they </p>
	</div>
</div>
<div class="row">
	<div class="col-md.-6">
		<p><strong>Move and Groove</strong> is fitness tracker site which connect the people to their favorites sport where our customers need to sign up and follow the sport they </p>
	</div>
</div>
<div class="row">
	<div class="col-md.-6">
		<p><strong>Move and Groove</strong> is fitness tracker site which connect the people to their favorites sport where our customers need to sign up and follow the sport they </p>
	</div>
</div>
<div class="row">
	<div class="col-md.-6">
		<p><strong>Move and Groove</strong> is fitness tracker site which connect the people to their favorites sport where our customers need to sign up and follow the sport they </p>
	</div>
</div>
<div class="row">
	<div class="col-md.-6">
		<p><strong>Move and Groove</strong> is fitness tracker site which connect the people to their favorites sport where our customers need to sign up and follow the sport they </p>
	</div>
</div>
</body>


