<%= form_with(model: activity, local: true) do |form| %>
  <% if activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  

  <div class="control-group">
    <%= form.label :activity_name ,class: 'control-label'%>
    <div class="controls">
     <%= form.select(:activity_name, options_for_select([['running','running'],['walking','walking'],['skating','skating'],['skiing','skiing'],['downhill skiing','downhill skiing'],['mountain bike','mountain bike'],['cyckling','cyckling'],['swimming','swimming'],['hiking','hiking'],['rowing','rowing']])) %>
    </div>
  </div>

  <div class="control-group">
    <%= form.label :activity_date,class: 'control-label' %>
    <div class="controls">
      <%= form.date_select :activity_date, id: :activity_date, class: "form-control datepicker" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :activity_duration %>
    <div class="controls">
     <%= form.text_field :activity_duration, id: :activity_activity_duration, placeholder: '20min' %>
   </div>
  </div>

  <div class="control-group">
    <div class="actions">
      <%= form.submit %>
    </div>
  </div>
<% end %>

